* {
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 280px) and (max-width: 500px)
{
    @font-face {
        font-family: 'shrikhand';
        src: url('fonts/shrikhand/Shrikhand-Regular.ttf');
        font-family: 'roboto';
        src: url('fonts/roboto/Roboto-Regular.ttf');
    }

    
    $gray-light: #F6F6F6;
    $gray-darker: #EAEAEA;
    $pink: #FF79DA;
    $green: #99E2D0;
    $purple: #9356DC;
    $font-title: 'shrikhand';
    $font-text: 'roboto';


    #logo {
        display: flex;
        justify-content: center;
        img {
            height: 2.5em;
            width: auto;
            padding-bottom: 1em;
            padding-top: 0.5em;
        }
    }

    #header {
       background-color: $gray-light;
       padding: 0.5em 0em 0.5em 0em;
       display: flex;
        
        .button-pink {

            #search-bar {
                padding-left: 5em;
                margin-top: -0.5em;
                background-color: $gray-darker;  
                border-top-style: hidden;
                box-shadow: 0em -0.1em 0em 0em gray;  
                 
                .search {
                    background-color: $gray-darker;
                    height: 3em;
                    border-style: none;
                    font-weight: bolder;
                }
                    textarea:focus, input:focus {
                        outline: none
                    }
                
                .fas {
                    color: #323232;
                    font-size: 1em;    
                    padding-right: 1em; 
                }
            }
            
            h1 {
                font-size: 2em;
                text-align: center;
                padding-bottom: 0.7em;
                padding-top: 1em;
                font-family: $font-title;
            }
            h3 {
                text-align: center;
                font-size: 1em;
                padding-bottom: 2em;
                font-family: $font-text;
            }
        }
    }    
}
      

