* {
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 280px) and (max-width: 500px)
{
    @font-face {
        font-family: 'shrikhand';
        src: url('fonts/shrikhand/Shrikhand-Regular.ttf');
        font-family: 'roboto';
        src: url('fonts/roboto/Roboto-Regular.ttf');
    }

    
    $gray-light: #F6F6F6;
    $gray-darker: #EAEAEA;
    $pink: #FF79DA;
    $green: #99E2D0;
    $purple: #9356DC;
    $font-title: 'shrikhand';
    $font-text: 'roboto';

    @mixin nav-settings {
       
        display: flex;
        justify-content: center;
        padding-top: 1em;
        a {
            text-decoration: none;
            padding-left: 1em;
        }
        li {
            border-style: hidden;
            background-color: $gray-light;
            padding: 1em 3em 1em 3em;
            box-shadow: 0em 0.1em 0em 0em $gray-darker;
            border-radius: 25px;
        }
        .fas {
            color: gray;
        }
        p {
            position: relative;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: -1em;
            border-style: hidden;
            border-radius: 50%;
            padding: 0.2em 0.5em 0.2em 0.5em;
            background-color: $purple;
            color: white;
        }
        
    }


    #logo {
        display: flex;
        justify-content: center;
        img {
            height: 2.5em;
            width: auto;
            padding-bottom: 1em;
            padding-top: 0.5em;
        }
    }

    #header {
       background-color: $gray-light;
       padding: 0.5em 0em 0.5em 0em;
       display: flex;
        
        .button-pink {
            padding-bottom: 3em;
            #search-bar {
                padding-left: 5em;
                margin-top: -0.5em;
                background-color: $gray-darker;  
                border-top-style: hidden;
                box-shadow: 0em -0.1em 0em 0em gray;  
                 
                .search {
                    background-color: $gray-darker;
                    height: 3em;
                    border-style: none;
                    font-weight: bolder;
                }
                    textarea:focus, input:focus {
                        outline: none
                    }
                
                .fas {
                    color: #323232;
                    font-size: 1em;    
                    padding-right: 1em; 
                }
            }
            
            
            h1 {
                font-size: 1.5em;
                font-weight: bolder;
                text-align: center;
                padding-bottom: 0.7em;
                padding-top: 1em;
                font-family: $font-text;
                padding-right: 1em;
                padding-left: 1em;
            }
            h3 {
                text-align: center;
                font-size: 1.1em;
                font-weight: lighter;
                padding-bottom: 2em;
                padding-left: 0.7em;
                padding-right: 0.7em;
                font-family: $font-text;
            }

            button {
                margin-left: 5.2em;
                font-size: 1em;
                color: white;
                border-radius: 25px;
                border-style: hidden;
                padding: 0.8em 0.8em 0.8em 0.8em;
                background: linear-gradient(-10deg, $purple 30%, $pink);
            }   
        }   
    }  

    #navigation {
        padding-top: 3em;
        font-family: $font-text;
        list-style-type: none;
        
        h2 {
            font-weight: bolder;
            padding-left: 1em;
        }
        #navigation_choix {
        @include nav-settings;
        }
    }  
}
      

