* {
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 280px) and (max-width: 500px)
{
    #logo img{
        height: 2.5em;
        width: auto;
    }
    
    
    }
    #barre-recherche {
       
        .fas {
            color: red;
            font-size: 1em;
           
        }
}
