@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 280px) and (max-width: 500px) {
  @font-face {
    font-family: "shrikhand";
    src: url("fonts/shrikhand/Shrikhand-Regular.ttf");
    font-family: "roboto";
    src: url("fonts/roboto/Roboto-Regular.ttf");
  }
  #logo {
    display: flex;
    justify-content: center;
  }
  #logo img {
    height: 2.5em;
    width: auto;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }

  #header {
    background-color: #F6F6F6;
    padding: 0.5em 0em 0.5em 0em;
    display: flex;
  }
  #header .button-pink {
    padding-bottom: 3em;
  }
  #header .button-pink #search-bar {
    padding-left: 5em;
    margin-top: -0.5em;
    background-color: #EAEAEA;
    border-top-style: hidden;
    box-shadow: 0em -0.1em 0em 0em gray;
  }
  #header .button-pink #search-bar .search {
    background-color: #EAEAEA;
    height: 3em;
    border-style: none;
    font-weight: bolder;
  }
  #header .button-pink #search-bar textarea:focus, #header .button-pink #search-bar input:focus {
    outline: none;
  }
  #header .button-pink #search-bar .fas {
    color: #323232;
    font-size: 1em;
    padding-right: 1em;
  }
  #header .button-pink h1 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0.7em;
    padding-top: 1em;
    font-family: "roboto";
    padding-right: 1em;
    padding-left: 1em;
  }
  #header .button-pink h3 {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    padding-bottom: 2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-family: "roboto";
  }
  #header .button-pink button {
    margin-left: 5.2em;
    font-size: 1em;
    color: white;
    border-radius: 25px;
    border-style: hidden;
    padding: 0.8em 0.8em 0.8em 0.8em;
    background: linear-gradient(-10deg, #9356DC 30%, #FF79DA);
  }

  #navigation {
    padding-top: 3em;
    padding-bottom: 2em;
    font-family: "roboto";
    list-style-type: none;
  }
  #navigation h2 {
    font-weight: bolder;
    padding-left: 1em;
  }
  #navigation #navigation__choix {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }
  #navigation #navigation__choix a {
    text-decoration: none;
    padding-left: 1em;
    color: black;
    font-weight: bold;
  }
  #navigation #navigation__choix li {
    border-style: hidden;
    background-color: #F6F6F6;
    padding: 1.4em 3em 1.2em 3em;
    box-shadow: 0em 0.1em 0em 0em #EAEAEA;
    border-radius: 20px;
  }
  #navigation #navigation__choix .fas {
    color: gray;
  }
  #navigation #navigation__choix p {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.2em;
    margin-right: -1em;
    border-style: hidden;
    border-radius: 50%;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #9356DC;
    color: white;
  }
  #navigation #navigation__composition {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }
  #navigation #navigation__composition a {
    text-decoration: none;
    padding-left: 1em;
    color: black;
    font-weight: bold;
  }
  #navigation #navigation__composition li {
    border-style: hidden;
    background-color: #F6F6F6;
    padding: 1.4em 3em 1.2em 3em;
    box-shadow: 0em 0.1em 0em 0em #EAEAEA;
    border-radius: 20px;
  }
  #navigation #navigation__composition .fas {
    color: gray;
  }
  #navigation #navigation__composition p {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.2em;
    margin-right: -1em;
    border-style: hidden;
    border-radius: 50%;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #9356DC;
    color: white;
  }
  #navigation #navigation__composition a {
    padding-right: 0.6em;
  }
  #navigation #navigation__dégustation {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }
  #navigation #navigation__dégustation a {
    text-decoration: none;
    padding-left: 1em;
    color: black;
    font-weight: bold;
  }
  #navigation #navigation__dégustation li {
    border-style: hidden;
    background-color: #F6F6F6;
    padding: 1.4em 3em 1.2em 3em;
    box-shadow: 0em 0.1em 0em 0em #EAEAEA;
    border-radius: 20px;
  }
  #navigation #navigation__dégustation .fas {
    color: gray;
  }
  #navigation #navigation__dégustation p {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.2em;
    margin-right: -1em;
    border-style: hidden;
    border-radius: 50%;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #9356DC;
    color: white;
  }
  #navigation #navigation__dégustation a {
    padding-left: 1em;
  }
  #navigation #navigation__dégustation .fas {
    color: #9356DC;
  }
  #navigation #navigation__dégustation li {
    background-color: #f2eafb;
  }

  #restaurants {
    background-color: #F6F6F6;
    font-family: "roboto";
  }
  #restaurants h2 {
    padding-left: 1em;
    font-family: "roboto";
    font-weight: bolder;
    padding-top: 2em;
  }
  #restaurants #restaurants__palette {
    padding-top: 1em;
    padding-bottom: 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  #restaurants #restaurants__palette a {
    /*the text-decoration : none, work only with the a, in case an a exist ?*/
    text-decoration: none;
    color: black;
  }
  #restaurants #restaurants__palette a article {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 13.5em;
    width: auto;
    border-style: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 2em;
  }
  #restaurants #restaurants__palette a article h5 {
    display: flex;
    justify-content: flex-end;
    color: green;
    margin-right: 1em;
    margin-left: 18.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-style: hidden;
    background-color: #99E2D0;
    font-weight: lighter;
  }
  #restaurants #restaurants__palette a article .overlay--text {
    background-color: white;
    opacity: 1;
    margin-top: 9.8em;
    display: flex;
    justify-content: space-around;
  }
  #restaurants #restaurants__palette a article .overlay--text #texte {
    flex-direction: column;
    padding-bottom: 1em;
  }
  #restaurants #restaurants__palette a article .overlay--text h3 {
    font-size: 1.1em;
    padding: 1em 0em 0.5em 0em;
  }
  #restaurants #restaurants__palette a article .overlay--text h4 {
    font-size: 1em;
    font-weight: 100;
    padding: 0em 0em 0em 0em;
  }
  #restaurants #restaurants__palette a article .overlay--text input {
    margin-top: 1.5em;
  }
  #restaurants #restaurants__palette a article .overlay--text input + label {
    font-size: 2.5em;
  }
  #restaurants #restaurants__palette a article .overlay--text input:checked + label {
    color: red;
  }
  #restaurants #restaurants__palette a article .overlay--text .overlay--heart input {
    margin-top: 1.5em;
  }
  #restaurants #restaurants__palette a article .overlay--text .overlay--heart input + label {
    font-size: 2.5em;
  }
  #restaurants #restaurants__palette a article .overlay--text .overlay--heart input:checked + label {
    color: white;
    opacity: 1;
    font-family: "font awesome 5 free";
    content: f004;
    position: relative;
    color: red;
  }
}

/*# sourceMappingURL=style.css.map */
