
#menu {
    background-color: $gray-light;
    padding-top: 0.5em;
    padding-left: 0.8em;
    font-family: $font-text;
    #délice__entrées {
        padding-bottom: 0.5em;
            h2 {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 15em;
                font-weight: lighter;
                font-size: 1.3em;
                padding-bottom: 0.3em;
            }
        }
    #délice__entrées--all {
        padding-bottom: 2em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 17.5em;
        padding-left: 0.5em;
       
        #délice__entrées--1 {
            margin-top: 0.95em;  /*not 1em, for some reason there is a very small space betweel the green and he top of the div if i set margin to 1*/
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;  /*fixes a minor visual imperfection*/
            input {
                @include fa-icon;
                display: none;   
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                    }  
                }
                &:checked+label { 
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.5em;
                    }
                    span.price {
                        margin-left: 14rem;
                        padding-right: 2em;
                        -webkit-animation-name: price-animation;
                                animation-name: price-animation;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                    }
                }
            }
        }
        #délice__entrées--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                    } 
                    span.price {
                        margin-left: 19.7em;
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    span.normal {
                        margin-left: 0.5em;
                    }
                    span.price {
                        margin-left: 12.6rem;
                        padding-right: 1em;
                        
                        -webkit-animation-name: price-animation--short;
                                animation-name: price-animation--short;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                        z-index: 100;
                        background: white;
                        &::before {
                            content: "...";
                            padding-right: 0.5em;
                        }
                    }
                }
            }
        }
        #délice__entrées--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                    } 
                    span.price {
                        margin-left: 19.7em;
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.5em;
                    }
                    span.price {
                        margin-left: 14rem;
                        padding-right: 1.5em;   /*mask the text ont some menus*/
                        -webkit-animation-name: price-animation;
                                animation-name: price-animation;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                    }
                }
            }
        } 
    }
    
    #délice__plats {
        padding-bottom: 0.5em; /*distance between the last div and the desserts*/
            h2 {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 15em;
                font-weight: lighter;
                font-size: 1.3em;
                padding-bottom: 0.3em;
            }
        }
        #délice__plats--all {
            padding-bottom: 2em;
            overflow-y: hidden;
            overflow-x: hidden;
            height: 17.5em;
            
            padding-left: 0.5em;
        #délice__plats--1 {
            margin-top: 0.95em;  /*not 1em, for some reason there is a very small space betweel the green and he top of the div if i set margin to 1*/
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
                    height: 4em;
            input {
                @include fa-icon;
                display: none;   
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                    }  
                }
                &:checked+label { 
                    @include checked-ok--large; 
                    span.normal {
                        margin-left: 0.5em;
                    }
                    span.price {
                        margin-left: 14rem;
                        padding-right: 2em;
                        -webkit-animation-name: price-animation;
                                animation-name: price-animation;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                    }
                }
            }
        }
        #délice__plats--2 {
            margin-top: 0.9em;   /*here too, something is strange with the distance*/
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.53em;
                    } 
                    span.price {
                        margin-left: 19.7em;
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.53em;
                    }
                    span.price {
                        margin-left: 12.6rem;
                        padding-right: 1em;   /*mask the text ont some menus*/
                        -webkit-animation-name: price-animation--short;
                                animation-name: price-animation--short;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                    }
                }
            }
        }
        #délice__plats--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                    }  
                }
                &:checked+label { 
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.5em;
                    }
                    span.price {
                        margin-left: 12.6rem;
                        padding-right: 2em;
                        -webkit-animation-name: price-animation--short;
                                animation-name: price-animation--short;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-out;
                    }
                }
            }
        } 
    }
    #délice__desserts {
        padding-bottom: 0.5em;
            h2 {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 15em;
                font-weight: lighter;
                font-size: 1.3em;
                padding-bottom: 0.3em;
            }
    }
    #délice__desserts--all {      
        padding-bottom: 3em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 17.5em;
        padding-left: 0.5em;
        
        #délice__desserts--1 {
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            margin-top: 1em;
            width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                    }  
                }
                &:checked+label { 
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.5em;
                    }
                    span.price {
                        margin-left: 14rem;
                        padding-right: 2em;
                        -webkit-animation-name: price-animation;
                                animation-name: price-animation;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-out;
                    }
                }
            }
        }
        #délice__desserts--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.51em;
                    } 
                    span.price {
                        margin-left: 19.7em;
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.51em;
                    }
                    
                    span.price {
                        margin-left: 14rem;
                        padding-right: 2em;   /*mask the text ont some menus*/
                        -webkit-animation-name: price-animation;
                                animation-name: price-animation;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                    }
                }
            }
        }
        #délice__desserts--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
                    width: 20.5em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    span.bold {
                        padding: 0;  /*here the spans are used for templates, in case of need*/
                    }
                    span.normal {
                        margin-left: 0.5em;
                        font-size: 0.95em;
                        
                    } 
                    span.price {
                        margin-left: 19.7em;
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    span.normal {
                        margin-left: 0.5em;
                        font-size: 0.95em;
                    }
                    span.price {
                        margin-left: 14rem;
                        padding-right: 2em;   /*mask the text ont some menus*/
                        -webkit-animation-name: price-animation;
                                animation-name: price-animation;
                        -webkit-animation-duration: 2s;
                                animation-duration: 2s;
                        transition: ease-in-out;
                    }
                }
            }
        }
    }
    .button-pink--large {
        padding-bottom: 5em;
        button {
            margin-left: 5.5em;
            font-size: 1em;
            color: white;
            border-radius: 25px;
            border-style: hidden;
            padding: 0.8em 2.5em 0.8em 2.5em;
            background: linear-gradient(-10deg, $purple 30%, $pink);
            &:hover {
                cursor: pointer;
                -webkit-filter: opacity(85%);
                        filter: opacity(85%); /*this make the button lighter*/
                        box-shadow: 0.1em 0.1em 1em 1em gray;
            }
        } 
    }
}