@-webkit-keyframes color-swap--menu {
    0% {
        font-weight: normal;  
    }
    5% {
        font-weight: normal;  
        transform: scale(0.5);
    }
    10% {  
        font-weight: normal;  
        transform: scale(0.1);
    }
    15%{
        font-weight: 600;  
        transform: scale(0.5);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    70% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        font-weight: 600;
        transform: scale(1.2);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    95% {
        font-weight: 600;
        transform: scale(1.1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes color-swap--menu {
    0% {
        font-weight: normal;  
    }
    5% {
        font-weight: normal;  
        transform: scale(0.5);
    }
    10% {  
        font-weight: normal;  
        transform: scale(0.1);
    }
    15%{
        font-weight: 600;  
        transform: scale(0.5);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    70% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        font-weight: 600;
        transform: scale(1.2);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    95% {
        font-weight: 600;
        transform: scale(1.1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@-webkit-keyframes price-animation {
    0% {
        margin-left: 14rem;
        transform: translate(2em);
    }
    100% {
        margin-left: 14rem;
    }
}
@keyframes price-animation {
    0% {
        margin-left: 14rem;
        transform: translate(2em);
    }
    100% {
        margin-left: 14rem;
    }
}
@-webkit-keyframes price-animation--lenghty {
    0% {
        margin-left: 11rem;
        transform: translate(2em);   /*translate me permet de commencer l'animation à partir d'un certain niveau*/
    }
    100% {
        margin-left: 11rem;
    }
}
@keyframes price-animation--lenghty {
    0% {
        margin-left: 11rem;
        transform: translate(2em);   /*translate me permet de commencer l'animation à partir d'un certain niveau*/
    }
    100% {
        margin-left: 11rem;
    }
}
@-webkit-keyframes price-animation--large {
    0% {
        padding-left: 1em;
        transform: translate(2rem);
    }
    100% {
        margin-left: -3.5rem;
    }
}
@keyframes price-animation--large {
    0% {
        padding-left: 1em;
        transform: translate(2rem);
    }
    100% {
        margin-left: -3.5rem;
    }
}
@-webkit-keyframes price-animation--short {
    0% {
        margin-left: 12.6rem;
        transform: translate(2em);
    }
    100% {
        margin-left: 12.6rem;
    }
}
@keyframes price-animation--short {
    0% {
        margin-left: 12.6rem;
        transform: translate(2em);
    }
    100% {
        margin-left: 12.6rem;
    }
}
@-webkit-keyframes checked-background-translate--menu {
    0% {
        transform: translate(-2em);
        transition: ease-in-out;
    }
    100% {
        margin-left: 17em;     /*this remove the blur effect on the animation. the blur is caused by the calculation of the position, i think*/
    } 
}
@keyframes checked-background-translate--menu {
    0% {
        transform: translate(2em);
        transition: ease-in-out;
    }
    100% {
        margin-left: 17em;     /*this remove the blur effect on the animation. the blur is caused by the calculation of the position, i think*/
    }
}
@-webkit-keyframes checked-ok-rotate--menu {
    0% {
        
    }
    100%{
        transform: rotate(2turn);
        transition: ease-in-out;
    }
}
@keyframes checked-ok-rotate--menu {
    0% {
        transition-delay: 2s;
    }
    100%{
        transform: rotate(2turn);
        transition: ease-in-out;
    }
}
@-webkit-keyframes loading-menus {
    0% {
        margin-bottom: -3em;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        
    }
}
@keyframes loading-menus {
    0% {
        margin-bottom: -3em;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        
    }
}