* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "shrikhand";
    src: url("../../fonts/shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf");
}
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";


$gray-light: #F6F6F6;
$gray-darker: #EAEAEA;
$pink: #FF79DA;
$green: #99E2D0;
$purple: #9356DC;
$font-title: "shrikhand";
$font-text: "roboto";

@mixin logo-back {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-left: 3em;
    a {
        @include fa-icon;
        padding: 1em;
        font-size: 1em;
        padding-right: 3em;
        margin-left: -5em;   
        &::before {
            @extend .fas;
            content: fa-content($fa-var-arrow-left);
            color: black;
        }
    }
}
@mixin photo-menu {
    article {
        background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        height: 16em;
        width: auto;
    }
}

@mixin div-principal-menus {
    border-style: hidden;
    background-color: white;
    padding: 0.9em 0.5em 0.9em 0.5em;
    border-radius: 20px;
    box-shadow: 0em 0em 0.6em -0.2em;
    margin-right: 0.7em;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 3em;
}

@mixin label-settings-menus {
    display: flex;
    flex-direction: row;
    h3 {
        white-space: nowrap;
    }
    h4 {
        white-space: nowrap;
        font-weight: lighter;
    }  
    &:hover {
        cursor: pointer;
    }
}

@mixin checked-ok {
    #checked-font-place {
        z-index: 95; 
        background-color: $green;
        padding: 1.5em 1.3em 1.5em 1.3em;
        margin-left: -2.5em;
        margin-top: -0.9em;
        position: relative;
        border-style: hidden;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        -webkit-animation-name: checked-background-translate--menu;
        animation-name: checked-background-translate--menu;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        transition: ease-in-out;
        &::after {
            @extend .fas;
            content: fa-content($fa-var-check-circle);
            font-size: 2rem;
            animation-name: checked-ok-rotate--menu;
            -webkit-animation-name: checked-ok-rotate--menu;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            border-style: hidden;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            color: white;
            justify-content: center;
        }
    }
}


@mixin toggle__heart--menu {
    font-size: 1.7rem;
    padding-right: 1em;
    margin-top: 1.1em;
    &::before {
        @extend .far;
        content: "\f004";
        font-weight: 600;
        will-change: font-size;
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;  
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation-name: color-swap--menu;
        animation-name: color-swap--menu;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        transition: ease-in-out;
    }
    &:hover {
        cursor: pointer;
    }
}
@mixin footer__settings {
    padding: 1em 1em 1em 1em;
    background-color: darken($gray-darker, $amount: 75%);
    width: 89.1%;
    color: white;
    font-size: 1.3em;
    font-family: $font-text;
    font-weight: bold;
    -webkit-filter: blur(0);
            filter: blur(0);
    @include fa-icon;
    #logo__footer {
        font-size: 1.5em;
        padding-bottom: 0.5em;
        font-family: $font-title;
        font-weight: bolder;
        text-decoration: none;
    }
    #line1 {
        h6 {
            padding-bottom: 0.7em;
            &::before {
                @extend .fas;
                content: "\f2e7";
                font-size: 0.8em;
                padding-right: 1em;
            }
        }
    }
    #line2 {
        h6 {
            padding-bottom: 0.7em;
            &::before {
                @extend .fas;
                content: "\f4c4";
                font-size: 0.7em;
                padding-right: 0.8em;
            }
        }
    }
    #contact {
        padding-top: 0.5em;
        a {
            text-decoration: none;
            color: white;
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
}


@-webkit-keyframes color-swap--menu {
    0% {
        font-weight: normal;  
    }
    5% {
        font-weight: normal;  
        transform: scale(0.5);
    }
    10% {  
        font-weight: normal;  
        transform: scale(0.1);
    }
    15%{
        font-weight: 600;  
        transform: scale(0.5);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    70% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        font-weight: 600;
        transform: scale(1.2);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    95% {
        font-weight: 600;
        transform: scale(1.1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes color-swap--menu {
    0% {
        font-weight: normal;  
    }
    5% {
        font-weight: normal;  
        transform: scale(0.5);
    }
    10% {  
        font-weight: normal;  
        transform: scale(0.1);
    }
    15%{
        font-weight: 600;  
        transform: scale(0.5);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    70% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        font-weight: 600;
        transform: scale(1.2);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    95% {
        font-weight: 600;
        transform: scale(1.1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        font-weight: 600;
        transform: scale(1);
        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@-webkit-keyframes checked-background-translate--menu {
    0% {
        transform: translate(3em);
    }
}
@keyframes checked-background-translate--menu {
    0% {
        transform: translate(2em);
        transform-origin: 100% right;
        transition: ease-out;
    }
}
@-webkit-keyframes checked-ok-rotate--menu {
    0% {
        
    }
    100%{
        transform: rotate(2turn);
        transition: ease-in-out;
    }
}
@keyframes checked-ok-rotate--menu {
    0% {
        transition-delay: 2s;
    }
    100%{
        transform: rotate(2turn);
        transition: ease-in-out;
        
    }
}
@-webkit-keyframes price-animation {
    0% {
        padding-left: 9em;
        transform: translate(-4em);
    }
    100% {
        margin-left: -5rem
    }
}
@keyframes price-animation {
    0% {
        
        transform: translate(-3.5em);
    }
    100% {
        margin-left: -2.5rem
    }
}
@-webkit-keyframes price-animation--lenghty {
    0% {
        padding-left: 9em;         
        transform: translate(2em); /*translate me permet de commencer l'animation à partir d'un certain niveau*/
        padding: 0em 1em 0em 1em;  /*this padding is fo the overlay. I put it here for the "au cas où"*/
    }
    100% {
        margin-left: -7.3rem;
        padding: 0em 1em 0em 1em;
    }
}
@keyframes price-animation--lenghty {
    0% {
                   
        transform: translate(1.5em); /*translate me permet de commencer l'animation à partir d'un certain niveau*/
        
    }
    100% {
        margin-left: -7.3rem;
        /*with the z index no overlay needed*/
        
    }
}
@-webkit-keyframes price-animation--large {
    0% {
        padding-left: 1em;
        transform: translate(2rem);
        
    }
    100% {
        margin-left: -3.5rem;
    }
}
@keyframes price-animation--large {
    0% {
        padding-left: 1em;
        transform: translate(2rem);
        
    }
    100% {
        margin-left: -3.5rem;
    }
}
@-webkit-keyframes price-animation--short {
    0% {
        padding-left: 1em;
        transform: translate(2rem);
    }
    
    100% {
        margin-left: -1rem;
    }
}
@keyframes price-animation--short {
    0% {
        padding-left: 0em;
        transform: translate(2.3rem);
    }
    100% {
        margin-left: -3.6rem;
    }
}
@-webkit-keyframes loading-menus {
    0% {
        margin-bottom: -3em;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        
    }
}
@keyframes loading-menus {
    0% {
        margin-bottom: -3em;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        
    }
}










#logo {
    @include logo-back
}
#lanote-image {
  @include photo-menu;
  padding-bottom: 3em;
  .overlay__menu--1 {
    margin-top: 12em;
        #lanote__title {
            opacity: 1;
            background-color: $gray-light;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-style: hidden;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            h3 {
                font-family: $font-title;
                font-size: 1.7em;
                padding: 1em 1em 1em 0.5em;
            }
            input {
                @include fa-icon;
                margin-top: 2.8em;
                display: none;
                &+label {
                    margin-top: 1.1em;
                    font-size: 1.7rem;
                    padding-right: 1em;  
                    &::before {
                        @extend .far;
                        content: fa-content($fa-var-heart);
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:checked+label {
                    @include toggle__heart--menu;
                } 
            }
        }
    }
}

#menu {
    background-color: $gray-light;
    padding-top: 0.5em;
    padding-left: 0.8em;
    font-family: $font-text;
    #lanote__entrées {
        padding-bottom: 0.5em;
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
        }
    #lanote__entrées--all {
        padding-bottom: 2em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 23em;
        padding-left: 0.5em;
        #lanote__entrées--1 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 0em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.55em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -0.5em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.55em;
                        h5 {
                            margin-left: -3.6rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            
                            &:before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__entrées--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 8em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -0.5em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -3.6rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            
                            &:before {              /*this part here is to make the animation of entréées 1&2 similar*/
                                content: "...";
                                color: transparent;
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__entrées--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: -4.5em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -3.6rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    
                    #checked-font-place {
                        margin-left: -2.5em;  
                    }
                    
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -7.3rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--lenghty;
                                    animation-name: price-animation--lenghty;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            
                            padding-left: 3.3em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            &:before {       
                                position: absolute;
                                content: "...";
                                padding-left: 0em;
                                margin-left: -1.7em;
                                padding-right: 3em;
                                margin-top: -1.2em;
                                z-index: 90;
                                background: white;
                                font-size: 2em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__entrées--4 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -3.6rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        margin-left: -0.7em;
                        h5 {
                            margin-left: -7.3rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--lenghty;
                                    animation-name: price-animation--lenghty;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 2em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
   
                            &:before {       
                                content: "...";
                                padding-right: 1em;

                            }
                        } 
                    }
                }
            }
        } 
    }
    
    #lanote__plats {
        padding-bottom: 0.5em; /*distance between the last div and the desserts*/
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
        }
        #lanote__plats--all {
            padding-bottom: 2em;
            overflow-y: hidden;
            overflow-x: hidden;
            height: 17.5em;
            padding-left: 0.5em;
        #lanote__plats--1 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__plats--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__plats--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            
                        } 
                    }
                }
            }
        }
        #lanote__plats--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__plats--prix {
                        padding-left: 6.5em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__plats--prix {
                        padding-left: 6.5em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                        } 
                    }
                }
            }
        }
        #lanote__plats--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__plats--prix {
                        padding-left: 3.5em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__plats--prix {
                        padding-left: 2.2em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            &:before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        } 
    }
    #lanote__desserts {
        padding-bottom: 0.5em;
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
    }
    #lanote__desserts--all {      
        padding-bottom: 3em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 17.5em;
        padding-left: 0.5em;
        
        #lanote__desserts--1 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 0em;  
                        padding-bottom: 0.1rem;
                    }
                    h4 {
                        font-size: 0.95em;
                    }
                    #lanote__desserts--prix {
                        padding-left: 3.5em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -2.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -3em;
                    }
                    
                    #lanote__desserts--prix {
                        padding-left: 1em;
                        margin-top: 1.6em;
                        margin-left: -1.5em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 2em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            &:before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__desserts--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__desserts--prix {
                        padding-left: 5.3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__desserts--prix {
                        padding-left: 5.3em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                        } 
                    }
                }
            }
        }
        #lanote__desserts--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__desserts--prix {
                        padding-left: 3.3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__desserts--prix {
                        padding-left: 3.3em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                        } 
                    }
                }
            }
        }
    }
    .button-pink--large {
        padding-bottom: 5em;
        button {
            margin-left: 5.5em;
            font-size: 1em;
            color: white;
            border-radius: 25px;
            border-style: hidden;
            padding: 0.8em 2.5em 0.8em 2.5em;
            background: linear-gradient(-10deg, $purple 30%, $pink);
            &:hover {
                cursor: pointer;
                -webkit-filter: opacity(85%);
                        filter: opacity(85%); /*this make the button lighter*/
            }
        } 
        
    }
}

footer {
    @include footer__settings
}

@media screen and (min-width: 500px) and (max-width: 667px)
{
    body {
        margin-left: 6em;
        padding-top: 2em;
    }
    header {
        transform: scale(1.8);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 1em;
            margin-left: 11em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.5);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.527);
        width: 365px;
        margin-top: 23em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.4);
        width: 17.8em;
        margin-left: 2rem;
        margin-top: 15em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 667.1px) and (max-width: 768px)
{
    body {
        margin-left: 9em;
        padding-top: 2.5em;
    }
    header {
        transform: scale(1.9);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 2em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.6);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.627);
        width: 365px;
        margin-top: 30em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.5);
        width: 17.8em;
        margin-left: 2rem;
        margin-top: 15em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}   
@media screen and (min-width: 768.1px) and (max-width: 1024px)
{
    body {
        margin-left: 17em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}  
@media screen and (min-width: 1024.1px) and (max-width: 1224px)
{
    body {
        margin-left: 23em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1224.1px) and (max-width: 1424px)
{
    body {
        margin-left: 29em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1424.1px) and (max-width: 1600px)
{
    body {
        margin-left: 35em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1600.1px)
{
    body {
        margin-left: 45em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}