* {
    margin: 0;
    padding: 0;
}


@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "../../Base/main/_typography--main";

@import "../../Utils/lanote/_mixins--lanote";
@import "../../Utils/lanote/_keyframes--lanote";

@import "../../Pages/lanote/_image+overlay--lanote";
@import "../../Pages/lanote/_menu--lanote";




#logo {
    @include logo-back
}


footer {
    @include footer__settings
}

@media screen and (min-width: 500px) and (max-width: 667px)
{
    body {
        margin-left: 6em;
        padding-top: 2em;
    }
    header {
        transform: scale(1.8);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 1em;
            margin-left: 11em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.5);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.527);
        width: 365px;
        margin-top: 23em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.4);
        width: 17.8em;
        margin-left: 2rem;
        margin-top: 15em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 667.1px) and (max-width: 768px)
{
    body {
        margin-left: 9em;
        padding-top: 2.5em;
    }
    header {
        transform: scale(1.9);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 2em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.6);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.627);
        width: 365px;
        margin-top: 30em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.5);
        width: 17.8em;
        margin-left: 2rem;
        margin-top: 15em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}   
@media screen and (min-width: 768.1px) and (max-width: 1024px)
{
    body {
        margin-left: 17em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}  
@media screen and (min-width: 1024.1px) and (max-width: 1224px)
{
    body {
        margin-left: 23em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1224.1px) and (max-width: 1424px)
{
    body {
        margin-left: 29em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1424.1px) and (max-width: 1600px)
{
    body {
        margin-left: 35em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1600.1px)
{
    body {
        margin-left: 45em;
        padding-top: 3.5em;
    }
    header {
        transform: scale(2.1);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 3em;
            margin-left: 10em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #lanote-image {
        transform: scale(1.8);
        width: 24em;
        margin-top: 4.5em;
        margin-left: 3em;
        margin-right: 2.8em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.835);
        width: 365px;
        margin-top: 39em;
        margin-left: 3.20em;
    }
    footer {
        transform: scale(1.7);
        width: 17.6em;
        margin-left: 2.3rem;
        margin-top: 24.5em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}