#menu {
    background-color: $gray-light;
    padding-top: 0.5em;
    padding-left: 0.8em;
    font-family: $font-text;
    #lanote__entrées {
        padding-bottom: 0.5em;
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
        }
    #lanote__entrées--all {
        padding-bottom: 2em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 23em;
        padding-left: 0.5em;
        #lanote__entrées--1 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 0em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.55em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -0.5em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.55em;
                        h5 {
                            margin-left: -3.6rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            
                            &:before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__entrées--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 8em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -0.5em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -3.6rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            
                            &:before {              /*this part here is to make the animation of entréées 1&2 similar*/
                                content: "...";
                                color: transparent;
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__entrées--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: -4.5em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -3.6rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    
                    #checked-font-place {
                        margin-left: -2.5em;  
                    }
                    
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -7.3rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--lenghty;
                                    animation-name: price-animation--lenghty;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            
                            padding-left: 3.3em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            &:before {       
                                position: absolute;
                                content: "...";
                                padding-left: 0em;
                                margin-left: -1.7em;
                                padding-right: 3em;
                                margin-top: -1.2em;
                                z-index: 90;
                                background: white;
                                font-size: 2em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__entrées--4 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -3.6rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__entrées--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        margin-left: -0.7em;
                        h5 {
                            margin-left: -7.3rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--lenghty;
                                    animation-name: price-animation--lenghty;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 2em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
   
                            &:before {       
                                content: "...";
                                padding-right: 1em;

                            }
                        } 
                    }
                }
            }
        } 
    }
    
    #lanote__plats {
        padding-bottom: 0.5em; /*distance between the last div and the desserts*/
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
        }
        #lanote__plats--all {
            padding-bottom: 2em;
            overflow-y: hidden;
            overflow-x: hidden;
            height: 17.5em;
            padding-left: 0.5em;
        #lanote__plats--1 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__plats--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__plats--prix {
                        padding-left: 0em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            
                        } 
                    }
                }
            }
        }
        #lanote__plats--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__plats--prix {
                        padding-left: 6.5em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__plats--prix {
                        padding-left: 6.5em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                        } 
                    }
                }
            }
        }
        #lanote__plats--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__plats--prix {
                        padding-left: 3.5em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__plats--prix {
                        padding-left: 2.2em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            &:before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        } 
    }
    #lanote__desserts {
        padding-bottom: 0.5em;
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
    }
    #lanote__desserts--all {      
        padding-bottom: 3em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 17.5em;
        padding-left: 0.5em;
        
        #lanote__desserts--1 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 0em;  
                        padding-bottom: 0.1rem;
                    }
                    h4 {
                        font-size: 0.95em;
                    }
                    #lanote__desserts--prix {
                        padding-left: 3.5em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -2.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -3em;
                    }
                    
                    #lanote__desserts--prix {
                        padding-left: 1em;
                        margin-top: 1.6em;
                        margin-left: -1.5em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 2em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                            &:before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
        #lanote__desserts--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__desserts--prix {
                        padding-left: 5.3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__desserts--prix {
                        padding-left: 5.3em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                        } 
                    }
                }
            }
        }
        #lanote__desserts--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 3em;  
                    }
                    #lanote__desserts--prix {
                        padding-left: 3.3em;
                        margin-top: 1.6em;
                        h5 {
                            margin-left: -1.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok;
                    #checked-font-place {
                        margin-left: -1.7em;
                    }
                    
                    #lanote__desserts--prix {
                        padding-left: 3.3em;
                        margin-top: 1.6em;
                        margin-left: -1.9em;
                        h5 {
                            margin-left: -3.6rem;  /*to better understand the positionning i use the border solid*/
                            padding-right: 0.5em;
                            margin-right: 2rem;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 1.5s;
                                    animation-duration: 1.5s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-left: 0em;  /*can be used to adjust the distance. Can it be important to reuse the keyframes ? by using it i can set the margin as identical to the one define in the keyframe ?*/
                        } 
                    }
                }
            }
        }
    }
    .button-pink--large {
        padding-bottom: 5em;
        button {
            margin-left: 5.5em;
            font-size: 1em;
            color: white;
            border-radius: 25px;
            border-style: hidden;
            padding: 0.8em 2.5em 0.8em 2.5em;
            background: linear-gradient(-10deg, $purple 30%, $pink);
            &:hover {
                cursor: pointer;
                -webkit-filter: opacity(85%);
                        filter: opacity(85%); /*this make the button lighter*/
            }
        } 
        
    }
}