* {
    margin: 0;
    padding: 0;
}


@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "../../Base/main/_typography--main";

@import "../../Utils/main/_mixins--main";

@import "../../Utils/main/_keyframes--main";

@import "../../Layout/main/_loader--main";
@import "../../Layout/main/_navigation--main";
@import "../../Layout/main/_header--main";
@import "../../Layout/main/_logo--main";
@import "../../Layout/main/_footer--main";

@import "../../Pages/main/_restaurants--main";




body {                       /*noob mistake, but its ok. Start by the mobile version first without the media querrie. Check other pages*/
    padding-left: 40em;
    width: 30em;
    
}  

@media screen and (min-width: 280px) and (max-width: 450px)
{
    body {
        padding-left: 0em;
        margin: 0;
    }
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: 0em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 20em;
        margin-left: 12.5em;
    }

}

@media screen and (min-width: 450.1px) and (max-width: 667px)
{
    
    body{
        padding-left: 6em;
        padding-right: 0;
        
    }
    #logo {
        transform: scale(1.4);
        padding-top: 1em;
    }
    header {
        transform: scale(1.4);
        margin-top: 5em;
    }
    #navigation {
        transform: scale(1.4);
        margin-top: 5em;
    }
    section {
        transform: scale(1.4);
        margin-top: 22em;
        a {
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
    footer {
        transform: scale(1.4);
        margin-top: 15em;
    }
    
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: -6em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 10em;
        margin-left: 19em;
    }
}
@media screen and (min-width: 667.1px) and (max-width: 767px) /*i-pad*/
{
    body{
        padding-left: 6em;
        padding-right: 0;
        
    }
    #logo {
        transform: scale(1.4);
        padding-top: 1em;
    }
    header {
        transform: scale(1.4);
        margin-top: 5em;
    }
    #navigation {
        transform: scale(1.4);
        margin-top: 5em;
    }
    section {
        transform: scale(1.4);
        margin-top: 22em;
        a {
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
    footer {
        transform: scale(1.4);
        margin-top: 15em;
    }
    
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: -6em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 10em;
        margin-left: 19em;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) /*i-pad*/
{
    body{
        padding-left: 8.5em;
        padding-right: 0;
        
    }
    #logo {
        transform: scale(1.6);
        padding-top: 1em;
        padding-bottom: 1em;
    }
    header {
        transform: scale(1.6);
        margin-top: 5em;
    }
    #navigation {
        transform: scale(1.6);
        margin-top: 8em;
    }
    section {
        transform: scale(1.6);
        margin-top: 35em;
        a {
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
    footer {
        transform: scale(1.6);
        margin-top: 23em;
    }
    
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: -9em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 25em;
        margin-left: 24em;
    }
}
@media screen and (min-width: 1023.1px) and (max-width: 1224px) /*i-pad*/
{
    body{
        padding-left: 17em;
        padding-right: 0;
        
    }
    #logo {
        transform: scale(1.6);
        padding-top: 1em;
        padding-bottom: 1em;
    }
    header {
        transform: scale(1.6);
        margin-top: 5em;
    }
    #navigation {
        transform: scale(1.6);
        margin-top: 8em;
    }
    section {
        transform: scale(1.6);
        margin-top: 35em;
        a {
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
    footer {
        transform: scale(1.6);
        margin-top: 23em;
    }
    
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: -9em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 25em;
        margin-left: 23em;
    }
}
@media screen and (min-width: 1224.1px) and (max-width: 1424px) 
{
    body{
        padding-left: 30em;
        padding-right: 0;
        
    }
    #logo {
        transform: scale(1.6);
        padding-top: 1em;
        padding-bottom: 1em;
    }
    header {
        transform: scale(1.6);
        margin-top: 5em;
    }
    #navigation {
        transform: scale(1.6);
        margin-top: 8em;
    }
    section {
        transform: scale(1.6);
        margin-top: 35em;
        a {
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
    footer {
        transform: scale(1.6);
        margin-top: 23em;
    }
    
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: -10em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 25em;
        margin-left: 25em;
    }
}
@media screen and (min-width: 1424.1px) and (max-width: 1600px) 
{
    body{
        padding-left: 40em;
        padding-right: 0;
        
    }
    #logo {
        transform: scale(1.6);
        padding-top: 1em;
        padding-bottom: 1em;
    }
    header {
        transform: scale(1.6);
        margin-top: 5em;
    }
    #navigation {
        transform: scale(1.6);
        margin-top: 8em;
    }
    section {
        transform: scale(1.6);
        margin-top: 35em;
        a {
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
    footer {
        transform: scale(1.6);
        margin-top: 23em;
    }
    
    .loader {
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
                margin-left: -10em;
    }
    .loader div {
        -webkit-animation-iteration-count: 4;
                animation-iteration-count: 4;
        margin-top: 25em;
        margin-left: 25em;
    }
}
@media screen and (min-width: 1600.1px) 
{
    body {
        padding-left: 45em;
        padding-top: 4em;
        
    }
    #logo {
        transform: scale(1.6);
        padding-bottom: 5em;
    }
    header {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
    }
    
    
    #navigation {
        margin-top: 12em;
        transform: scale(1.6);
    }
    section {
        transform: scale(1.6);
        margin-top: 33em;
    }
    
    footer {
        transform: scale(1.6);
        margin-top: 23em;
    }
    .loader {
        margin-left: -9em;
        margin-top: -4em;
        -webkit-animation-duration: 5s;
                animation-duration: 5s;
    }
    .loader div {
        
        margin-top: 25em;
        margin-left: 21em;
    }
}