@mixin nav-settings {
   
    display: flex;
    justify-content: center;
    padding-top: 1em;
    a {
        text-decoration: none;
        padding-left: 1em;
        color: black;
        font-weight: bold;
    }
    li {
        border-style: hidden;
        background-color: $gray-light;
        padding: 1.4em 3em 1.2em 3em;
        box-shadow: 0em 0.1em 0em 0em $gray-darker;
        border-radius: 20px;
    }
    .fas {
        color: gray;
    }
    p {
        position: relative;
        margin-top: 1em;
        margin-bottom: 1.2em;
        margin-right: -1em;
        border-style: hidden;
        border-radius: 50%;
        padding: 0.2em 0.5em 0.2em 0.5em;
        background-color: $purple;
        color: white;
    }
    ul {
        list-style-type: none;
    }
    
}

@mixin article__setting {
    padding-top: 1em;
    padding-bottom: 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;   
    article {
        height: 13.5em;
        width: auto;
        border-style: hidden;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding-top: 2em;
        box-shadow: 0.1em 0.1em 1em 0.5em $gray-darker;
        a {        /*the text-decoration : none, work only with the a, in case an a exist ?*/
            text-decoration: none;
            color: black; 
        }
        h5 {
            display: flex;
            justify-content: flex-end;
            color: green;
            margin-right: 1em;
            margin-left: 26em;
            padding: 0.5em 0.5em 0.5em 0.5em;
            border-style: hidden;
            background-color: $green;
            font-weight: lighter;
        }
        
    }         
}
@mixin article__setting--1{
    .overlay__text--1 {
        background-color: white;
        opacity: 1;
        width: 100%;
        margin-top: 9.8em;
        display: flex;
        justify-content: space-around;
        border-style: hidden;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0.1em 1em 1em 0.5em $gray-darker;
        #text--1 {
            flex-direction: column;
            padding-bottom: 1em;
        }
        h3 {
            font-size: 1.1em;
            padding: 1em 0em 0.5em 0em;
        }
        h4 {
            font-size: 1em;
            font-weight: 100;
            padding: 0em 0em 0em 0em;   
        }
        .overlay__heart--1 {
            input {
                margin-top: 2.5em;
                @include fa-icon;
                display: none;
                &+label {
                    font-size: 2rem;
                    position: absolute;
                    margin-top: 0.5em;
                    margin-left: -1.5rem;
                    &::before {
                        @extend .far;
                        content: fa-content($fa-var-heart);  /*ou utiliser content :"\f004" dans ce cas ci. Le fa (r) ou (s) fait la différence entre solide et reguar ?*/
                    }
                    &:hover {
                        cursor: pointer;
                    } 
                }
                
                &:checked+label {
                    font-size: 2rem;
                    &::before {
                        @extend .far;
                        content: "\f004";
                        font-weight: 600;
                        transform: scale(1.1);
                        will-change: font-size;
                        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
                        -webkit-background-clip: text;  
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-animation-name: color-swap;
                                animation-name: color-swap;
                        -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                        transition: ease-in-out;
                    }
                }
            }
        }
    }
}
@mixin article__setting--2 {
    .overlay__text--2 {
        background-color: white;
        opacity: 1;
        width: 100%;
        margin-top: 9.8em;
        display: flex;
        justify-content: space-around;
        border-style: hidden;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0.1em 1em 1em 0.5em $gray-darker;  /*the first 1em put the vertcal shadow bottom*/
        #text--2 {
            flex-direction: column;
            padding-bottom: 1em;
        }
        h3 {
            font-size: 1.1em;
            padding: 1em 0em 0.5em 0em;
        }
        h4 {
            font-size: 1em;
            font-weight: 100;
            padding: 0em 0em 0em 0em;   
        }
        .overlay__heart--2 {
            input {
                margin-top: 2.5em;
                @include fa-icon;
                display: none;
                &+label {
                    font-size: 2rem;
                    position: absolute;
                    margin-top: 0.5em;
                    margin-left: -0.8em;
                    &::before {
                        @extend .far;
                        content: fa-content($fa-var-heart);  /*ou utiliser content :"\f004" dans ce cas ci. Le fa (r) ou (s) fait la différence entre solide et regular ? le font weight fait également la différence :noram= r,600 par exemple=s*/
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:checked+label {
                    font-size: 2rem;
                    &::before {
                        @extend .fas;
                        content: fa-content($fa-var-heart);
                        will-change: font-size;
                        transform: scale(1.1);
                        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-animation-name: color-swap;
                                animation-name: color-swap;
                        -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                        transition: ease-in-out;
                    }
                } 
            }
        }
        
    }
}    
@mixin article__setting--3 {
    .overlay__text--3 {
        background-color: white;
        opacity: 1;
        width: 100%;
        margin-top: 9.8em;
        display: flex;
        justify-content: space-around;
        border-style: hidden;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0.1em 1em 1em 0.5em $gray-darker;
        #text--3 {
            flex-direction: column;
            padding-bottom: 1em;
        }
        h3 {
            font-size: 1.1em;
            padding: 1em 0em 0.5em 0em;
        }
        h4 {
            font-size: 1em;
            font-weight: 100;
            padding: 0em 0em 0em 0em;   
        }
        .overlay__heart--3 {
            input {
                margin-top: 2.5em;
                @include fa-icon;
                display: none;
                &+label {
                    font-size: 2rem;
                    position: absolute;
                    margin-top: 0.5em;
                    margin-left: -0.7em;
                    &::before {
                        @extend .far;
                        content: fa-content($fa-var-heart);  /*ou utiliser content :"\f004" dans ce cas ci. Le fa (r) ou (s) fait la différence entre solide et reguar ?*/
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:checked+label {
                    font-size: 2rem;
                    &::before {
                        @extend .fas;
                        content: fa-content($fa-var-heart);
                        will-change: font-size;
                        transform: scale(1.1);
                        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-animation-name: color-swap;
                                animation-name: color-swap;
                        -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                        transition: ease-in-out;
                    }
                } 
            }
        }
        
    }
}
@mixin article__setting--4{
    .overlay__text--4 {
        background-color: white;
        opacity: 1;
        width: 100%;
        margin-top: 9.8em;
        display: flex;
        justify-content: space-around;
        border-style: hidden;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0.1em 1em 1em 0.5em $gray-darker;
        #text--4 {
            flex-direction: column;
            padding-bottom: 1em;
        }
        h3 {
            font-size: 1.1em;
            padding: 1em 0em 0.5em 0em;
        }
        h4 {
            font-size: 1em;
            font-weight: 100;
            padding: 0em 0em 0em 0em;   
        }
        .overlay__heart--4 {
            input {
                margin-top: 2.5em;
                @include fa-icon;
                display: none;
                &+label {
                    font-size: 2rem;
                    position: absolute;
                    margin-top: 0.5em;
                    margin-left: -1em;
                    &::before {
                        @extend .far;
                        content: fa-content($fa-var-heart);  /*ou utiliser content :"\f004" dans ce cas ci. Le fa (r) ou (s) fait la différence entre solide et reguar ?*/
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:checked+label {
                    font-size: 2rem;
                    &::before {
                        @extend .fas;
                        content: fa-content($fa-var-heart);
                        will-change: font-size;
                        transform: scale(1.1);
                        background: -webkit-linear-gradient(240deg,$purple 40%,$pink);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-animation-name: color-swap;
                                animation-name: color-swap;
                        -webkit-animation-duration: 1s;
                                animation-duration: 1s;
                        transition: ease-in-out;
                    }
                } 
            }
        }
        
    }
}
@mixin footer__settings {
    padding: 1em 1em 1em 1em;
    background-color: darken($gray-darker, $amount: 75%);
    width: 91.1%;
    color: white;
    font-size: 1.3em;
    font-family: $font-text;
    font-weight: bold;
    -webkit-filter: blur(0);
            filter: blur(0);
    @include fa-icon;
    #logo__footer {
        font-size: 1.5em;
        padding-bottom: 0.5em;
        font-family: $font-title;
        font-weight: bolder;
        text-decoration: none;
    }
    #line1 {
        h6 {
            padding-bottom: 0.7em;
            &::before {
                @extend .fas;
                content: "\f2e7";
                font-size: 0.8em;
                padding-right: 1em;
            }
        }
          
    }
    #line2 {
        h6 {
            padding-bottom: 0.7em;
            &::before {
                @extend .fas;
                content: "\f4c4";
                font-size: 0.7em;
                padding-right: 0.8em;
            }
        }
         
    }
    h6 {
        &:hover {
            cursor: pointer;
        }
    }
    #contact {
        padding-top: 0.5em;
        a {
            text-decoration: none;
            color: white;
            outline: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);   /*i disabled the on hit effect for this exemple specificaly. But, to allow :active styles to work in your CSS on a page in Mobile Safari i need to enter this: document.addEventListener("touchstart", function(){}, true);*/
        }
    }
}