#menu {
    background-color: $gray-light;
    padding-top: 0.5em;
    padding-left: 0.8em;
    font-family: $font-text;
    #palette__entrées {
        padding-bottom: 0.5em;
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
        }
    #palette__entrées--all {
        padding-bottom: 2em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 17em;
        padding-left: 0.5em;
        
        #palette__entrées--1 {
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            margin-top: 1em;
            @include div-principal-menus;
            input {
                @include fa-icon;
                display: none;   
                &+label {
                    @include label-settings-menus;
                    #palette__entrées--prix {
                    padding-left: 9em;
                    margin-top: 1.5em;
                        h5 {
                            margin-left: -1em;
                        }
                    }        
                }
                &:checked+label { 
                    @include checked-ok; 
                    #palette__entrées--prix {
                        padding-left: 9em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -5rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation;
                                    animation-name: price-animation;
                            -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                            transition: ease-out;
                        }
                    }
                }
            }
        }
        #palette__entrées--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    #palette__entrées--prix {
                        padding-left: 5.6em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -1em;
                        }
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #palette__entrées--prix {
                        padding-left: 5.6em;
                        margin-top: 1.5em;
                        h5 {
                            
                            margin-left: -5rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation;
                                    animation-name: price-animation;
                            -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                            transition: ease-out;
                        }
                    }
                }
            }
        }
        #palette__entrées--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    #palette__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -1em;
                            &.overlay--1 {
                                margin-top: 0.1rem;
                            }
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #palette__entrées--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            &.overlay--1 {
                                margin-top: 0.1rem;
                                margin-left: -7.3rem;
                                -webkit-animation-name: price-animation--lenghty;
                                        animation-name: price-animation--lenghty;
                                -webkit-animation-duration: 2s;
                                        animation-duration: 2s;
                                transition: ease-in;
                                background-color: white;
                                padding: 0em 0em 0em 1em;
                                transform-origin: right;
                                &:before {
                                    content: "...";
                                    padding-right: 1em;
                                }
                            }
                        } 
                    }
                }
            }
        } 
    }
    
    #palette__plats {
        padding-bottom: 0.5em; /*distance between the last div and the desserts*/
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
        }
        #palette__plats--all {
            padding-bottom: 2em;
            overflow-y: hidden;
            overflow-x: hidden;
            height: 17.5em;
            padding-left: 0.5em;
        #palette__plats--1 {
            @include div-principal-menus;
            height: 3.5em;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            margin-top: 1em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    #palette__plats--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: 1em;
                            &.overlay--2 {
                                margin-top: 1.2rem;
                            }
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        background-color: $green;
                        padding: 1.8em 1.3em 1.8em 1.3em;
                        margin-left: -0.8em;
                    }
                    #palette__plats--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            &.overlay--2 {
                                margin-top: 1.2rem;
                                margin-left: -3.5rem;
                                -webkit-animation-name: price-animation--large;
                                        animation-name: price-animation--large;
                                -webkit-animation-duration: 2s;
                                        animation-duration: 2s;
                                transition: ease-in;
                                background-color: white;
                                padding: 0em 1em 0em 1em;
                            }
                        } 
                    }
                }
            }
        }
        #palette__plats--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    #palette__plats--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -1.7em;
                            &.overlay--3 {
                                margin-top: 0.1rem;
                            }
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -3em;
                    }
                    #palette__plats--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            &.overlay--3 {
                                margin-top: 0.1rem;
                                margin-left: -7.3rem;
                                -webkit-animation-name: price-animation--lenghty;
                                        animation-name: price-animation--lenghty;
                                -webkit-animation-duration: 1s;
                                        animation-duration: 1s;
                                transition: ease-in;
                                background-color: white;
                                padding: 0em 0em 0em 1em;
                                transform-origin: right;
                                &:before {
                                    content: "...";
                                    padding-right: 1em;
                                }
                            }
                        } 
                    }
                }
            }
        }
        #palette__plats--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 5em;  /*this setting help me push the price to reduce the div prive margin so that i can use the animation short more frequently*/
                    }
                    #palette__plats--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: 2.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: 0.5em;   /*this margin set up the background and the distance it will be from the price*/
                    }
                    #palette__plats--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -1rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                            transition: ease-out;
                        } 
                    }
                }
            }
        } 
    }
    #palette__desserts {
        padding-bottom: 0.5em;
            p {
                border-bottom: solid $green;
                border-width: 0.3em;
                margin-right: 20em;
            }
    }
    #palette__desserts--all {      
        padding-bottom: 3em;
        overflow-y: hidden;
        overflow-x: hidden;
        height: 17.5em;
        padding-left: 0.5em;
        
        #palette__desserts--1 {
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            margin-top: 1em;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 6.5em;  
                    }
                    #palette__desserts--prix {
                        padding-left: 3em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: 2.5rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: 0.5em;  
                    }
                    #palette__desserts--prix {
                        padding-left: 2.5em;  /*for this page, this customize the distance of the checked ok green background*/
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -1rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--short;
                                    animation-name: price-animation--short;
                            -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                            transition: ease-out;
                        } 
                    }
                }
            }
        }
        #palette__desserts--2 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 0em;  
                    }
                    #palette__desserts--prix {
                        padding-left: 0em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: 1.7rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -3.9em;  
                    }
                    h3 {
                        padding-right: 3em;
                    }
                    #palette__desserts--prix {
                        padding-left: 0em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: -7.3rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--lenghty;
                                    animation-name: price-animation--lenghty;
                            -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            padding-bottom: 0.2em;
                            
                            &::before {
                                content: "...";
                                padding-right: 0.7em;
                                z-index: 90;
                                background: white;
                                margin-left: -0.25em;
                            }
                            &::after {
                                content: "...";
                                position: absolute;
                                font-size: 2em;
                                margin-left: -1.5em;
                                margin-top: -1.2em;
                                z-index: 90;
                                background: white;
                                padding-right: 2em;
                                
                            }
                        } 
                    }
                }
            }
        }
        #palette__desserts--3 {
            margin-top: 1em;
            @include div-principal-menus;
            -webkit-animation: loading-menus 0.5s ease-in-out;
                    animation: loading-menus 0.5s ease-in-out;
            input {
                @include fa-icon;
                display: none;
                &+label {
                    @include label-settings-menus;
                    h3 {
                        padding-right: 0em;  
                    }
                    #palette__desserts--prix {
                        padding-left: 0em;
                        margin-top: 1.5em;
                        h5 {
                            margin-left: 1.2rem;
                        }
                        
                    }
                }
                &:checked+label {
                    @include checked-ok; 
                    #checked-font-place {
                        margin-left: -4em;  
                    }
                    h3 {
                        padding-right: 5em;
                    }
                    #palette__desserts--prix {
                        padding-left: 3em;
                        margin-top: 1.55em;
                        h5 {
                            margin-left: -7.3rem;
                            padding-right: 0em;
                            -webkit-animation-name: price-animation--lenghty;
                                    animation-name: price-animation--lenghty;
                            -webkit-animation-duration: 2s;
                                    animation-duration: 2s;
                            transition: ease-out;
                            z-index: 100;
                            background: white;
                            &::before {
                                content: "...";
                                padding-right: 0.7em;
                            }
                        } 
                    }
                }
            }
        }
    }
    .button-pink--large {
        padding-bottom: 5em;
        button {
            margin-left: 5.5em;
            font-size: 1em;
            color: white;
            border-radius: 25px;
            border-style: hidden;
            padding: 0.8em 2.5em 0.8em 2.5em;
            background: linear-gradient(-10deg, $purple 30%, $pink);
            &:hover {
                cursor: pointer;
                -webkit-filter: opacity(85%);
                        filter: opacity(85%); /*this make the button lighter*/
            }
        } 
    }
}