* {
    margin: 0;
    padding: 0;
}




@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "../../Base/main/_typography--main";

@import "../../Utils/palette/_mixins--palette";
@import "../../Utils/palette/_keyframes--palette";

@import "../../Pages/palette/_image+overlay--palette";
@import "../../Pages/palette/_menu--palette";









#logo {
    @include logo-back
}


footer {
    @include footer__settings
}



@media screen and (min-width: 250px) and (max-width: 320px)
{
    body {
        padding-left: 0em;
        padding-top: 0em;
    }
    header {
        transform: scale(0.8);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 0.5em;
            margin-left: 17em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(0.832);
        width: 24em; 
        margin-top: -2em;
        margin-left: -2em;
        margin-right: 20em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(0.855);
        width: 22.8em;
        margin-top: -7.2em;
        margin-left: -1.9em;
    }
    footer {
        position: absolute;
        transform: scale(0.8);
        width: 17.9em;
        margin-left: -3.4rem;
        margin-top: -5.2em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}
@media screen and (min-width: 425px) and (max-width: 499.9px)
{
    body {
        padding-left: 0em;
        padding-top: 0.5em;
    }
    header {
        transform: scale(1.1);
        width: 487px;
        margin-left: -9em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 0.5em;
            margin-left: 17em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.1);
        width: 24em; 
        margin-top: 1em;
        margin-left: 1.29em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.123);
        width: 22.8em;
        margin-top: 5em;
        margin-left: 1.45em;
    }
    footer {
        position: absolute;
        transform: scale(1.05);
        width: 17.9em;
        margin-left: 0rem;
        margin-top: 2em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}
@media screen and (min-width: 500px) and (max-width: 667px)
{
    body {
        padding-left: 6em;
        padding-top: 2.5em;
    }
    header {
        transform: scale(1.7);
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 1em;
            margin-left: 17em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.51);
        width: 25em; 
        margin-top: 4.5em;
        margin-left: 3.2em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.54);
        width: 22.8em;
        margin-top: 23em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.4);
        width: 17.9em;
        margin-left: 2rem;
        margin-top: 15em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}
@media screen and (min-width: 667.1px) and (max-width: 768px)
{
    body {
        padding-left: 9em;
        
    }
    header {
        transform: scale(2.1);
        padding-bottom: 1em;
        width: 487px;
        margin-left: -10em;  /*help to reduce the whole page width*/
        #logo {
            padding-left: 3em; 
            padding-bottom: 2em;
            padding-top: 2em;
            margin-left: 15em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.649);
        width: 25em;  /*important, or else the image just move from scrren to screen*/
        margin-top: 4.5em;
        margin-left: 3.24em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.685);
        width: 365px;
        margin-top: 30em;
        margin-left: 3.1em;
        
    }
    footer {
        transform: scale(1.65);    /*scale, font size and width, mostly, fixed the issue where the width in the ipad was not the same for the desktop. I think the issue was the font size*/
        width: 16.5em;
        margin-top: 19em;
        margin-left: 2.15em;
        
        #footer__nav {
            display: flex;
            flex-direction: row;
            font-size: 0.9em;
        }
    }
}   
@media screen and (min-width: 768.1px) and (max-width: 1024px)
{
    body {
        margin-left: 17em;     /*margin better than padding for this part ?*/
    }
    header {
        transform: scale(2.4);
        padding-bottom: 1em;
        width: 487px;
        margin-left: -10em; /*this here move the ohhmyfood and the arrow together*/
        #logo {
            padding-left: 4em; 
            padding-bottom: 1em;
            padding-top: 2em;
            margin-left: 13em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.9);
        width: 25em;
        margin-top: 9.5em;
        margin-left: 3.3em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.94);
        width: 365px;
        margin-top: 42em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.6);
        width: 415px;
        margin-left: 0.5em;
        margin-top: 26em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
}  
@media screen and (min-width: 1024.1px) and (max-width: 1224px)
{
    body {
        padding-left: 20em;
    }
    header {
        transform: scale(2.4);
        padding-bottom: 1em;
        width: 487px;
        margin-left: -10em; /*this here move the ohhmyfood and the arrow together*/
        #logo {
            padding-left: 4em; 
            padding-bottom: 1em;
            padding-top: 2em;
            margin-left: 13em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.9);
        width: 25em;
        margin-top: 9.5em;
        margin-left: 3.4em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.94);
        width: 365px;
        margin-top: 42em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.6);
        width: 415px;
        margin-left: 0.5em;
        margin-top: 26em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1224.1px) and (max-width: 1424px)
{
    body {
        padding-left: 30em;
    }
    header {
        transform: scale(2.4);
        padding-bottom: 1em;
        width: 487px;
        margin-left: -10em; /*this here move the ohhmyfood and the arrow together*/
        #logo {
            padding-left: 4em; 
            padding-bottom: 1em;
            padding-top: 2em;
            margin-left: 13em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.9);
        width: 25em;
        margin-top: 9.5em;
        margin-left: 3.4em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.94);
        width: 365px;
        margin-top: 42em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.6);
        width: 415px;
        margin-left: 0.5em;
        margin-top: 26em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1424.1px) and (max-width: 1600px)
{
    body {
        padding-left: 40em;
    }
    header {
        transform: scale(2.4);
        padding-bottom: 1em;
        width: 487px;
        margin-left: -10em; /*this here move the ohhmyfood and the arrow together*/
        #logo {
            padding-left: 4em; 
            padding-bottom: 1em;
            padding-top: 2em;
            margin-left: 13em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.9);
        width: 25em;
        margin-top: 9.5em;
        margin-left: 3.4em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.94);
        width: 365px;
        margin-top: 42em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.6);
        width: 415px;
        margin-left: 0.5em;
        margin-top: 26em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 
@media screen and (min-width: 1600.1px)
{
    body {
        padding-left: 45em;
    }
    header {
        transform: scale(2.4);
        padding-bottom: 1em;
        width: 487px;
        margin-left: -10em; /*this here move the ohhmyfood and the arrow together*/
        #logo {
            padding-left: 4em; 
            padding-bottom: 1em;
            padding-top: 2em;
            margin-left: 13em;
            a {
                padding-right: 2em;  /*this pushed the arrow toward the logo*/
            }
        }
    }
    #palette-image {
        transform: scale(1.9);
        width: 25em;
        margin-top: 9.5em;
        margin-left: 3.4em;
        .overlay__menu--1 {
            width: 386px;
            margin-left: -0.09em;
        }
    }
    section {
        transform: scale(1.94);
        width: 365px;
        margin-top: 42em;
        margin-left: 3.1em;
    }
    footer {
        transform: scale(1.6);
        width: 415px;
        margin-left: 0.5em;
        margin-top: 26em;
        #footer__nav {
            display: flex;
            flex-direction: row;
        }
    }
} 